img
{
    width: 100%;
    height: 100%;
}
.f
{
    flex-basis: 60%;
    margin: auto;
    height: 350px;

}
.d
{
    display: flex;
}
.principal
{
    border: solid 2px black;
    padding: 5px;
    min-height: 90%;
    max-width: 85%;
    margin: auto;
    margin-top: 5px;
    background-color: burlywood;
}
.general
{
    background-color: gray;
    min-height: 100vh;
}
h1
{
    text-align: center;
}
.colornegrita
{
    font-weight: bold;
}
.mediaquerie
{
    margin-top: 0;
}
@media (max-width: 767px) {
    .mediaquerie
    {
        margin-top: 2px;
    }

}
@media (max-width : 1005px)
{
    img
{
    max-width: 100%;
  
}
}
span
{
    font-size: 30px;
    margin: auto;
    display: block;
    text-align: center;
}
