<div class="general">
    <h1>Mi perfil</h1>
   <div class="principal">
   <div class="container">
     <div class="container">
   
     <div class="d">
        <div class="f">
            <img  [src]="datoUsuario.imagen" alt="">
        </div>
     </div>
     <div class="d">
       <div class="bg-warning border rounded-3 f ">
         <h1>DATOS USUARIO</h1>
         <span>Nombre: {{datoUsuario.nombre}} </span>
         <span>Apellido: {{datoUsuario.apellido}}</span>
         <span>Edad: {{datoUsuario.edad}}</span>
         <span>DNI: {{datoUsuario.dni}}</span>
         <span>Perfil: {{datoUsuario.perfil}}</span>
       </div>
     </div>
   </div>
</div>
</div>