.d
{
    min-height: 100vh;
    display: flex;
}
.de
{
    overflow-y: auto;
    max-width: 600px;
    margin: auto;
    border: solid 2px black;
    
}
#bb
{
    width: 90px;
 
}
.efe
{
   min-height: 50px;
}
h1
{
    text-align: center;
    color: white;
}


