.d
{
    display: flex;
    align-items: center;
}
.de
{

    overflow-y: auto;
    margin: auto;
    border: solid 2px black;
    
}
#bb
{
    width: 90px;
 
}
.efe
{
   min-height: 50px;
}
h1
{
    text-align: center;
    color: white;
}


/* table {
    width: 100%;
    color: white;
  } */